name: Main

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  main:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions/cache@v4
        with:
          path: .build
          key: ${{ runner.os }}-spm-${{ hashFiles('**/Package.resolved') }}-${{ steps.vers.outputs.swift }}-${{ steps.vers.outputs.xcode }}
          restore-keys: ${{ runner.os }}-spm-

      - name: Build
        run: swift build

